<section class="section has-text-centered">
    <div class="columns has-background-success-light has-text-primary">
        <div class="column"></div>
        <div class="column">
            <span id="user-sl"></span>
                to
            <span id="user-tl"></span>
        </div>
        <div class="column"></div>
    </div>
    <div class="columns has-background-light" >
    
        <div class="column">
            <button class="button is-primary" id="new-deck">New Deck</button>
        </div>
        
        <div class="column outer-card has-text-white" >
            
            <div class="outer-card">

                <div class="flip-card-inner">
                    <div class="card flip-card-front">
                        <header class="card-header">
                            <p class="card-header-title disabledText">
                                Difficulty: <span id="difficulty"></span>
                            </p>
                            <button class="card-header-icon" aria-label="more options" id="front-flip">
                            <span class="icon">
                                <i class="fas fa-angle-double-up"></i>
                            </span>
                            </button>
                        </header>
                        <div class="card-content">
                            <div class="content" style="height: 4em;"></div>
                            <div class="content" style="height: 8em;">
                                <span></span>
                                <br>
                                <br>
                                <button class="button is-rounded is-hidden" id="play-word"><i class="fas fa-play"></i></button>
                                <br>
                            </div>
                        </div>  
                        <footer class="card-footer">
                            <a id="new-card" class="card-footer-item has-text-dark disabledPointer new-card">Begin</a>
                            <a class="card-footer-item has-text-dark edit disabledPointer">Edit</a>
                        </footer>
                    </div>

                    <div class="card flip-card-back">
                        <header class="card-header">
                            <p class="card-header-title">
                                <span id="content-source-word"></span>
                            </p>
                            <button class="card-header-icon" aria-label="more options"  id="back-flip">
                                <span class="icon">
                                    <i class="fas fa-angle-double-up"></i>
                                </span>
                            </button>
                        </header>
                        <div class="card-content">
                            <div class="content" style="height: 4em;"></div>
                            <div class="content" style="height: 8em;">
                                <span></span>
                                <br>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="#" class="card-footer-item has-text-dark disabledPointer new-card back-flip">Next</a>
                            <a href="#" class="card-footer-item has-text-dark edit disabledPointer">Edit</a>
                        </footer>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <div class="column">
            <button id="create" class="button is-info">Create Card</button>
        </div>
        
    </div>
    <div class="columns has-background-light">
        <div class="column"></div>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input id="answer" class="input is-medium" type="text" placeholder="Type translation here...">
            </p>
            <p class="control">
              <a id="submit-answer" class="button is-success is-medium">
                Check
              </a>
            </p>
          </div>
          <div class="column"></div>
    </div>
   

</section>