{% extends 'base_modal.html' %}

{% block id %}deck-modal{% endblock %}

{% block header %}
    <p class="modal-card-title">Get new deck</p>
    <button class="delete close-deck-modal" aria-label="close"></button>
{% endblock %}

{% block section %}

    <div class="field">
        <div class="control">
            <input id="deck-size" class="input is-medium" type="number" placeholder="Total Cards">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input id="source-language" class="input is-medium" type="text" placeholder="Source Language" list="languages" autocomplete="off">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input id="target-language" class="input is-medium" type="text" placeholder="Target Language" list="languages" autocomplete="off">
        </div>
    </div>
    <datalist id="languages">
        {% for item in lang %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </datalist> 
{% endblock %}
{% block footer %}
    <button class="button is-success close-deck-modal" id="draw-deck">Draw Deck</button>
    <button class="button close-deck-modal">Cancel</button>
{% endblock %}