<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href={{ nav_left_button.link }} class="button is-info">
                <strong>{{ nav_left_button.button }}</strong>
            </a>
            <button id="test2">Choose Language</button>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button id="update-server" class="button is-warning">Update Server</button>
                   
                    <a class="button is-primary">
                        <strong>Sign up</strong>
                    </a>
                    <a class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
            <div class="navbar-item"></div>
        </div>
    </div>
</nav>