<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item">
                <h1 class="title has-text-primary">flash Learn</h1>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a id="open-fetch-table-modal" href={{ nav_left_button.link }} class="button is-info">
                        <strong>{{ nav_left_button.button }}</strong>
                    </a>
                    <button id="update-server" class="button is-warning">Update Server</button>
                    <button id="" class="button is-primary">Sign Up</button>
                    <button id="" class="button is-light">Log In</button>
                </div>
            </div>
            
        </div>
    </div>
</nav>