{% extends 'base.html' %}

{% set column_names %}
<tr class="has-background-success-light has-text-primary">
  <td>Source Word</td>
  <td>Source Language</td>
  <td>Translation</td>
  <td>Times used</td>
  <td>Mistakes</td>
  <td>Difficulty</td>
  <td>Last Tested</td>
</tr>
{% endset %}


{% block tableblock %}

  <div class="container">

  {% include 'navbar.html' %}

    <section class="section has-text-centered">
      <h1 class="title">{{ languages.type }} Vocabulary</h1>
      <h2 class="subtitle">{{ languages.source }} to {{ languages.target }}</h2>
      <table class="table">
          <thead>
            {{ column_names }}
          </thead>
          <tfoot>
            {% if words|length > 10 %}
              {{ column_names }}
            {% endif %}
          </tfoot>
          <tbody>
            
            {% for word in words %}
            <tr class="table-rows" data-id={{ word.id }}> 
                <td><button class="button"><i class="fas fa-play"></i></button></td>
                <td>{{ word.language }}</td>
                <td>
                    {% if word.translations|count > 0 %}
                    <div class="select">
                      <select>
                        {% for translation in word.translations %}
                        <option>{{ translation.word }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    {% endif %}
                </td>
                
                <td>{{ word.wordinfo.used_count }}</td>
                <td>{{ word.wordinfo.answered_wrong_count }}</td>
                <td>{{ word.wordinfo.difficulty() }}</td>
                <td>{{ word.wordinfo.last_tested }}</td>
                
     
            </tr>
            {% endfor %}
            
          </tbody>
      </table>
    </section>

  </div>
  
{% endblock %}



