{% set column_names %}
<tr class="has-background-success-light has-text-primary">
  <th>Source Word</th>
  <th>Source Language</th>
  <th>Translation</th>
  <th>Translation Language</th>
  <th>Times used</th>
  <th>Mistakes</th>
  <th>Difficulty</th>
  <th>Last Tested</th>
</tr>
{% endset %}
<section class="section has-text-centered">
  <table class="table">
      <thead>
        {{ column_names }}
      </thead>
      <tfoot>
        {{ column_names }}
      </tfoot>
      <tbody>
        
        {% for word in words %}
        <tr class="">
            <th>{{ word.word }}</th>
            <th>{{ word.language }}</th>
            <th>{{ word.translations[0].word }}</th>
            <th>{{ word.translations[0].language }}</th>
            <th>{{ word.wordinfo.used_count }}</th>
            <th>{{ word.wordinfo.answered_wrong_count }}</th>
            <th>{{ word.wordinfo.difficulty }}</th>
            <th>{{ word.wordinfo.last_tested }}</th>
            <th></th>
        </tr>
        {% endfor %}
        
      </tbody>
  </table>
</section>

