
/* This is to prevent icons effecting click events */
button > i {
  pointer-events: none;
}

li {
  list-style-type: none;
}

nav .buttons .button:last-child {
  margin-right: .75em;
}

.table .button i {
  padding-left: .75em;
}

.table-rows:nth-child(2n) {
  background-color: #fcfaf9;
}

.container {
  max-width: 1000px !important;
  margin:auto;
}

.add-translation, .remove-translation {
  pointer-events: all !important;
}

#difficulty {
  padding-left: .25em;
}

.section {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

.table {
  margin-left: auto;
  margin-right: auto;
}

.table .input, .select select, .textarea {
  border:none !important;
}

.table .select:after {
  border-color: #c6edc6 !important;
}

/* #play-word {
  border-radius: 33%;
  border-width: 0.1px;
  padding: 1em;
} */
.no-click {
  pointer-events: none;
}

.table .no-click:after {
  border-color: white !important;
}


.outer-card {
  
    perspective: 1000px;
    z-index: 1;
  }
  
  .flip-card-inner {
    
    transition: transform 2s;
    transform-style: preserve-3d;
  }
  
  /* .outer-card :hover .flip-card-inner {
    transform: rotateY(180deg);
  } */

  .flip {
    transform: rotateY(180deg);
  }

  .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .input {
      z-index: 0;
  }

  .disabledPointer {
    pointer-events: none;
    background-color: whitesmoke !important;
    color: lightgrey !important;
  }

  .disabledText {
    color: lightgrey !important;
  }

  .displayed-language-info-container {
    min-height: 3em;
  }