{% extends 'modals/base_modal.html' %}

{% import 'macros.html' as macros %}

{% block header %}
    <p class="modal-card-title">{% block title %}{% endblock %}</p>
    <button class="delete close-modal" aria-label="close"></button>
{% endblock %}

{% block section %}
  {{ macros.input("source-language", "source-language-input", "Choose sourse language", "languages") }}
  {{ macros.input("source", "source", "Source word") }}
  {{ macros.input("translation-language", "target-language-input","Choose target language", "languages") }}
 
    <div class="field translations-block">
      <div class="field">
        <div class="control has-icons-right">
            <input class="input is-medium translation" type="text" pattern="\p{L}+" placeholder="Edit translation" autocomplete="off" maxlength="50">
            <span class="icon is-medium is-right">
                <i class="fas fa-plus add-translation-fart"></i>
            </span>
        </div>
      </div>
    </div>

  <template class="translation-template">
    <div class="field">
      <div class="control has-icons-right">
        <input class="input is-medium translation" type="text" pattern="\p{L}+" placeholder="Add translation" autocomplete="off" maxlength="50">
        <span class="icon is-medium is-right remove-translation">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </template>

  {% include 'record.html' %}

{% endblock %}

{% block footer %}
    <button class="button is-success submit">{% block submitstring %}{% endblock %}</button>
    <button class="button is-danger clear">Clear</button>
    <button class="button close-modal">Cancel</button>
    {% block extend_footer %}{% endblock %}
{% endblock %}
