{% extends 'modals/base_modal.html' %}

{% import 'macros.html' as macros %}

{% set close %}
    {% block closemodalclass %}{% endblock %}
{% endset %}

{% block header %}
    <p class="modal-card-title">{% block titlestring %}{% endblock %}</p>
    <button class="delete close" aria-label="close"></button>
{% endblock %}

{% block section %}

    <datalist id="languages">
        {% for item in lang %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </datalist>

    {% block sectiontop %}
    {% endblock %}

    <div class="field">
        <div class="control">
            <input class="input is-medium source-language" type="text" pattern="\p{L}+" placeholder="Source Language" list="languages" autocomplete="off" maxlength="50">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-medium translation-language" type="text" pattern="\p{L}+" placeholder="Translation Language" list="languages" autocomplete="off" maxlength="50">
        </div>
    </div>

    {% block duoblock %}{% endblock %}

{% endblock %}

{% block footer %}
    <button type="button" class="button is-success close disabledPointer submit">{% block submitstring %}{% endblock %}</button>
    <button class="button is-danger clear">Clear</button>
    <button class="button close">Cancel</button>
{% endblock %}

