{% extends 'modals/base_modal.html' %}

{% import 'macros.html' as macros %}

{% block id %}new-card-modal{% endblock %}

{% block header %}
    <p class="modal-card-title">Create new deck</p>
    <button class="delete close-create-modal" aria-label="close"></button>
{% endblock %}

{% block section %}
  {{ macros.input("add-source-language", "source-language-input", "Choose sourse language", "languages") }}
  {{ macros.input("add-source", "", "Add source word") }}
  {{ macros.input("add-translation-language", "target-language-input","Choose target language", "languages") }}

    
    <div id="add-translations-block" class="field">
      <div class="field">
        <div class="control has-icons-right">
            <input id="add-translation" class="input is-medium" type="text" pattern="\p{L}+" placeholder="Add translation" autocomplete="off" maxlength="50">
            <span class="icon is-medium is-right add-translation-fart">
                <i class="fas fa-plus"></i>
            </span>
        </div>
      </div>
    </div>
  

  <template id="add-translation-template">
    <div class="field">
      <div class="control has-icons-right">
        <input class="input is-medium" type="text" pattern="\p{L}+" placeholder="Add translation" autocomplete="off" maxlength="50">
        <span class="icon is-medium is-right remove-translation">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </template>

  <div class="field">
      <div class="file is-medium has-name">
          <label class="file-label">
            <!-- 
            <input class="file-input" type="file" name="resume">
            
            <span class="file-cta">
              
              <span class="file-icon">
                <i class="fas fa-upload"></i>
              </span>
              <span class="file-label">
                Audio
              </span>
              
            </span>
            -->
            <button id="record" style='font-size:22px; height:2.25em'>Record <i class='fas fa-record-vinyl'></i></button>
            <!-- 
            <span class="file-name">
              Screen Shot 2017-07-29 at 15.54.25.png
            </span>
            -->
          </label>
          <audio id="player" controls style="margin-left: 2em; width:15em"> </audio>
          
          
      </div>
  </div>
  {% endblock %}

  {% block footer %}
      <button class="button is-success" id="add">Add to deck</button>
      <button id="clear" class="button is-danger" id="">Clear</button>
      <button class="button close-create-modal">Cancel</button>
      <button id="upload" class="button close-create-modal">Upload Deck</button>
    {% endblock %}

  </div>  
</div>