{% extends 'modals/base_modal.html' %}

{% import 'macros.html' as macros %}

{% block id %}deck-modal{% endblock %}

{% block header %}
    <p class="modal-card-title">Get new deck</p>
    <button class="delete close-deck-modal" aria-label="close"></button>
{% endblock %}

{% block section %}

    {{ macros.numberInput("deck-size", "Total Cards", 10) }}
    {{ macros.input("source-language", "Source Language", "languages") }}
    {{ macros.input("translation-language", "Translation Language", "languages") }}

    <datalist id="languages">
        {% for item in lang %}
            <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
    </datalist> 

{% endblock %}

{% block footer %}
    <button class="button is-success close-deck-modal" id="draw-deck">Draw Deck</button>
    <button class="button close-deck-modal">Cancel</button>
{% endblock %}