{% extends 'modals/base_modal.html' %}


{% set close %}
    {% block closemodalclass %}{% endblock %}
{% endset %}

{% block id %}sign-up-modal{% endblock %}

{% block header %}
    <p class="modal-card-title">Sign Up</p>
    <button class="delete close" aria-label="close"></button>
{% endblock %}

{% block section %}

    {% block sectiontop %}
    {% endblock %}

    <div class="field">
        <div class="control">
            <input class="input is-medium firstname" type="text" pattern="\p{L}+" autocomplete="off" placeholder="First Name" maxlength="50">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-medium lastname" type="text" pattern="\p{L}+" autocomplete="off" placeholder="Last Name" maxlength="50">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-medium username" type="text" pattern="\p{L}+" autocomplete="off" placeholder="Username" maxlength="50">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-medium password" type="password" pattern="\p{L}+" autocomplete="new-password" placeholder="Password" maxlength="50">
        </div>
    </div>

{% endblock %}

{% block footer %}
    <button type="button" class="button is-success close disabledPointer submit">Sign Up</button>
    <button class="button is-danger clear">Clear</button>
    <button class="button close">Cancel</button>
{% endblock %}

