body {
    font-family: Arial, Helvetica, sans-serif;
  }

  textarea {
    resize: none;
  }

 

  ul {
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 50% 10% 10% 10% 10% 10%;
    grid-gap: 2px;
    background-color: #fff;
    color: #444;
  }

  li {
    background-color: #444;
    color: #fff;
    padding: 0.5em;
   
  }

  li form {
    margin-top: 2em;
  }

  li button {
    margin-top: 2.35em;
  }

  header ul {
    list-style-type: none;
    /* margin: 0;
    padding: 0; */
  } 
/* 
  header li, header li > * {
    display: inline;
    background-color: red;
  } */

  #deck {
    margin:auto;
    max-width: 400px;
  }

  #deck-size {
    width: 25%;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin:auto;
    margin-top: 10%;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 2s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  /* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */

  .rotate {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgb(108, 184, 47);
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .hidden {
    display: none;
  }